.container {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  padding-left: 5%;
}

.title {
  align-self: center;
}

.eventButtons {
  display: flex;
  justify-content: space-between;
}

.eventButton {
  margin: 2px;
}
